@import './variables';
@import './responsive';

:global {
    /* FADE IN ANIMATION */
    @keyframes fadein {
        from {  opacity: 0;  }
        to {  opacity: 1;  }
    }

    /* FADE OUT ANIMATION */
    @keyframes fadeout {
        from {  opacity: 1;  }
        to {  opacity: 0;  }
    }

    /* SLIDE DOWN FADE IN */
    @keyframes slidedown {
        from {  transform: translateY(-15px); opacity: 0;  }
        to {  transform: translateY(0); opacity: 1;  }
    }

    /* SLIDE UP FADE OUT */
    @keyframes slideup {
        from {  transform: translateY(0); opacity: 1;  }
        to {  transform: translateY(-15px); opacity: 0;  }
    }

    /* GROWTH ANIMATION */
    @keyframes growth {
        from {  transform: scale(0);  }
        to {  transform: scale(1);  }
    }

    /* POPUP ROTATE ANIMATION */
    @keyframes popup {
        from {  transform: perspective(1000px) rotate3d(0, 1, 0, 75deg) translateY(300px); opacity: 0;  }
        to {  transform: perspective(0) rotate3d(0, 1, 0, 0) translateY(0); opacity: 1;  }
    }

    /* POPOUT ANIMATION */
    @keyframes popout {
        0% {  transform: translateY(0); opacity: 1;  }
        25% {  transform: translateY(-30px); opacity: 1; }
        100% {  transform: translateY(500px); opacity: 0; }
    }

    /* ROTATE IN ANIMATION */
    @keyframes rotatein {
        from {  transform: perspective(1000px) rotate3d(0, 0, 0, 90deg);  }
        to {  transform: perspective(0) rotate3d(0, 1, 0, 0);  }
    }

    /* ROTATE OUT ANIMATION */
    @keyframes rotateout {
        from {  transform: perspective(1000px) rotate3d(0, 0, 0, 0);  }
        to {  transform: perspective(0) rotate3d(0, 1, 0, -90deg);  }
    }

    /* SHAKE ANIMATION */
    @keyframes shake {
        10%, 90% {  transform: translate3d(-1px, 0, 0);  }
        20%, 80% {  transform: translate3d(2px, 0, 0);  }
        30%, 50%, 70% {  transform: translate3d(-4px, 0, 0);  }
        40%, 60% {  transform: translate3d(4px, 0, 0);  }
    }

    /* STROKE ANIMATION */
    @keyframes stroke {
        100% {
            stroke-dashoffset: 0;
        }
    }

    /* SCALE ANIMATION */
    @keyframes scale {
        0%, 100% {
            transform: none;
        }
        50% {
            transform: scale3d(1.1, 1.1, 1);
        }
    }

    /* FILL ANIMATION */
    @keyframes fillGreen {
        100% {
            box-shadow: inset 0 0 0 30px $green;
        }

    }

    @keyframes fillRed {
        100% {
            box-shadow: inset 0 0 0 30px $red;
        }

    }

    @keyframes fillYellow {
        100% {
            box-shadow: inset 0 0 0 30px $yellow;
        }
    }

    /* ITERACTION ANIMATION */
    .interactionAnimation-enter {
        transform: perspective(0) rotate3d(0, 1, 0, 90deg);
        transition: all .5s;
        transition-delay: .5s;
    }
    .interactionAnimation-enter.interactionAnimation-enter-active {
        transform: perspective(1000px) rotate3d(0, 0, 0, 0);
    }
    .interactionAnimation-leave {
        transform: perspective(1000px) rotate3d(0, 0, 0, 0);
        position: absolute;
        top: 0;
        transition: all .5s;
    }
    .interactionAnimation-leave.interactionAnimation-leave-active {
        transform: perspective(0) rotate3d(0, 1, 0, -90deg);
    }

    /* FORMS ANIMATION */

    $slide-transition-time: .5s;

    .slideRightAnimation-enter {
        transform: translateX(360px);
        opacity: 0;
        transition: all $slide-transition-time;

        &.slideRightAnimation-enter-active {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .slideRightAnimation-leave {
        transform: translateX(0);
        opacity: 1;
        position: absolute;
        top: 0;
        transition: all $slide-transition-time;

        &.slideRightAnimation-leave-active {
            transform: translateX(-360px);
            opacity: 0;
        }
    }

    /* REVERSE FORMS ANIMATION */
    .slideLeftAnimation-enter {
        transform: translateX(-360px);
        opacity: 0;
        transition: all $slide-transition-time;

        &.slideLeftAnimation-enter-active {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .slideLeftAnimation-leave {
        transform: translateX(0);
        opacity: 1;
        position: absolute;
        top: 0;
        transition: all $slide-transition-time;

        &.slideLeftAnimation-leave-active {
            transform: translateX(360px);
            opacity: 0;
        }
    }
}