:global {
    /* FADE IN ANIMATION */
    @keyframes fadein {
        from {  opacity: 0;  }
        to {  opacity: 1;  }
    }

    /* FADE OUT ANIMATION */
    @keyframes fadeout {
        from {  opacity: 1;  }
        to {  opacity: 0;  }
    }

    /* SLIDE DOWN FADE IN */
    @keyframes slidedown {
        from {  transform: translateY(-15px); opacity: 0;  }
        to {  transform: translateY(0); opacity: 1;  }
    }

    /* SLIDE UP FADE OUT */
    @keyframes slideup {
        from {  transform: translateY(0); opacity: 1;  }
        to {  transform: translateY(-15px); opacity: 0;  }
    }

    /* GROWTH ANIMATION */
    @keyframes growth {
        from {  transform: scale(0);  }
        to {  transform: scale(1);  }
    }

    /* POPUP ROTATE ANIMATION */
    @keyframes popup {
        from {  transform: perspective(1000px) rotate3d(0, 1, 0, 75deg) translateY(300px); opacity: 0;  }
        to {  transform: perspective(0) rotate3d(0, 1, 0, 0) translateY(0); opacity: 1;  }
    }

    /* POPOUT ANIMATION */
    @keyframes popout {
        0% {  transform: translateY(0); opacity: 1;  }
        25% {  transform: translateY(-30px); opacity: 1; }
        100% {  transform: translateY(500px); opacity: 0; }
    }

    /* ROTATE IN ANIMATION */
    @keyframes rotatein {
        from {  transform: perspective(1000px) rotate3d(0, 0, 0, 90deg);  }
        to {  transform: perspective(0) rotate3d(0, 1, 0, 0);  }
    }

    /* ROTATE OUT ANIMATION */
    @keyframes rotateout {
        from {  transform: perspective(1000px) rotate3d(0, 0, 0, 0);  }
        to {  transform: perspective(0) rotate3d(0, 1, 0, -90deg);  }
    }

    /* SHAKE ANIMATION */
    @keyframes shake {
        10%, 90% {  transform: translate3d(-1px, 0, 0);  }
        20%, 80% {  transform: translate3d(2px, 0, 0);  }
        30%, 50%, 70% {  transform: translate3d(-4px, 0, 0);  }
        40%, 60% {  transform: translate3d(4px, 0, 0);  }
    }

    /* FORMS ANIMATION */
    .formsAnimation-enter {
        transform: translateX(30px); opacity: 0;
        transition: all .6s;
    }
    .formsAnimation-enter.formsAnimation-enter-active {
        transform: translateX(0); opacity: 1;
    }
    .formsAnimation-leave {
        transform: translateX(0); opacity: 1;
        position: absolute;
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
        transition: all .6s;
    }
    .formsAnimation-leave.formsAnimation-leave-active {
        transform: translateX(-30px); opacity: 0;
    }
}