:global {
    /* FADE IN ANIMATION */
    @keyframes fadein {
        from {  opacity: 0;  }
        to {  opacity: 1;  }
    }

    /* GROWTH ANIMATION */
    @keyframes growth {
        from {  transform: scale(0);  }
        to {  transform: scale(1);  }
    }

    /* POPUP ROTATE ANIMATION */
    @keyframes popup {
        from {  transform: perspective(1000px) rotate3d(0, 1, 0, 75deg) translateY(300px); opacity: 0;  }
        to {  transform: perspective(0) rotate3d(0, 1, 0, 0) translateY(0); opacity: 1;  }
    }
    
    /* ROTATE IN ANIMATION */
    @keyframes rotatein {
        from {  transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);  }
        to {  transform: perspective(0) rotate3d(0, 1, 0, 0);  }
    }

    /* ROTATE OUT ANIMATION */
    @keyframes rotateout {
        from {  transform: perspective(1000px) rotate3d(0, 1, 0, 0);  }
        to {  transform: perspective(0) rotate3d(0, 1, 0, 90deg);  }
    }
}