$white: #ffffff;
$black: #000000;

$deep-gray: #292929;
$gray: #bababa;

$purple: #6b16ff;
$light-purple: #88a6ef;
$lightest-purple: #8baef3;

$deep-blue: #5538fa;
$blue: #3666f3;
$light-blue: #0077ff;
$lightest-blue: #00b6e6;