$deep-gray: #292929;
$gray: #bababa;
$light-gray: #afafaf;

$lightest-purple2: #8baef3;

$very-deep-blue: #9088dd;

$red-v2: #e75542;

$yellow: #ffe05c;

$purple-v2: #8330ec;
$purple-v2-2: #ff8454;
$purple-v2-2-dark: #d1658e;

$green-v2: #d1658e;
$green-v2-dark: #d1658e;
$green-v2-dark-2: #d1658e;
$green-v2-light: #d1658e;

$blue-v2-light: #adbfff;
$blue-v2-light-2: #dee7ff;
$blue-v2-light-3: #eff5fb;
$blue-v2-light-4: #eef9f7;

$gray-v2: #9a9a9a;
$gray-v2-dark: #333333;
$gray-v2-light: #f4f4f4;

$curve: cubic-bezier(0.65, 0, 0.45, 1);
