.apple_pay_button {
    cursor: pointer;
    width: 100%;
    padding: 22px;
    transition: all .3s;
    -webkit-appearance: -apple-pay-button;
    //-apple-pay-button-style: white-outline;
    -apple-pay-button-style: black;
}
