@import '../../../../../../../../styles/variables';
@import '../../../../../../../../styles/animations';

.error {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;

    .sweat {
        transform-origin: 30% 0%;
        animation: growth 0.5s linear 0.2s forwards;
    }
}
