@import '../../../../../../../../styles/variables';

.error {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 4;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: auto;
    background: $red-v2;

    circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }

    path {
        transform-origin: 50% 50%;
        stroke: #fff;
    }
}
