# Exclude everything by default
/**/*

# Include all folders
!/**/*/

# Includes
!*.js
!*.jsx

!*.ts
!*.tsx

!*.css
!*.scss

!*.html
!*.md
!*.svg

!*.json
!*.prettierrc
!*.babelrc

# Excludes
package-lock.json
package.json
node_modules
dist
.cache-loader
build_utils
