@import '../../styles/variables';

.footer {
    padding: 30px 25px;
}

.safe_payment {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 0 15px;

    .text {
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        font-weight: 900;
        color: $light-purple;
        letter-spacing: 2px;
        line-height: 15px;
        text-transform: uppercase;
    }

    svg {
        margin-right: 8px;
        position: relative;
        top: -2px;
    }
}

.safe_logos {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 25px;

    svg {
        margin-right: 25px;
    }
}

.copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: $lightest-purple;
    letter-spacing: 0;
    line-height: 18px;
    margin: 0 0 20px;
}

.offer {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 900;
    color: $light-purple;
    letter-spacing: 2px;
    line-height: 15px;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}