@import "../../../../../../styles/animations";

.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
}

.appear {
    animation: fadein .5s;
}

.leave {
    animation: fadeout .2s;
}
