@import '../../../../../../../styles/variables';

.block {
    display: flex;
}

.container {
    display: inline-block;
    margin: auto;
    margin-top: 20px;
}

.link {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 11px;
    color: $light-blue;
    letter-spacing: 2px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.underline {
    border-color: $light-blue;
    border-bottom: 0;
    opacity: 0.37;
    padding: 0;
    margin: 0 0 3px;
}
