@import '../../../../../../styles/variables';
@import '../../../../../../styles/animations';
@import '../../../../../../styles/responsive';

.container {
    position: relative;
    width: 100%;

    &:nth-child(2) {
        margin-left: 10px;
    }

    .checkmark,
    .errorCross {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .checkmark {
        height: 9px;
        width: 13px;
        margin: 19px 15px 0 19px;
    }
    .errorCross {
        height: 18px;
        width: 18px;
        margin: 15px 15px 0 19px;
        transform: scale(0.7);
    }

    &._hasError {
        input {
            border-color: $red-v2;
        }
    }
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px 0 15px 15px;
    width: 19px;
    height: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    //opacity: .75;
    opacity: 1;
}

.input {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid $gray;
    box-shadow: 0 0 4px 0 #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $deep-gray;
    letter-spacing: 0;
    line-height: 20px;
    $padding-top: 14px;
    $padding-right: 13px;
    $padding-bottom: 12px;
    $padding-left: 40px;
    padding: $padding-top $padding-right $padding-bottom $padding-left;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    transition: border-color 0.3s;
    outline: none;

    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $light-gray;
        font-family: 'Roboto', sans-serif;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $light-gray;
        font-family: 'Roboto', sans-serif;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $light-gray;
        font-family: 'Roboto', sans-serif;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $light-gray;
        font-family: 'Roboto', sans-serif;
    }

    &:focus {
        border-color: $purple-v2-2-dark !important;
        border-width: 2px !important;
        box-shadow: 0 0 4px 0 $purple-v2-2-dark !important;
        padding: ($padding-top - 1px) ($padding-right - 1px) ($padding-bottom - 1px) ($padding-left - 1px);
    }

    &.mark {
        padding-top: 13px;
        padding-right: 30px;
        padding-bottom: 13px;

        &:focus {
            padding-top: 12px;
            padding-right: 29px;
            padding-bottom: 12px;
        }
    }
}

.appearMarks {
    animation: fadein 0.5s;
}

.enterMarks {
    animation: fadein 0.5s;
}

.leaveMarks {
    animation: fadeout 0.5s;
}
