@import '../../../../styles/variables';

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.method {
    border-radius: 3px;
    border: 1px solid $gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 10px;

    &._active {
        border: 2px solid $light-blue;
    }
}

.icon {
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 11px;
    color: $light-blue;
    letter-spacing: 2px;
    line-height: 15px;
    padding: 0;
    margin: 0;
    display: inline-table;

    hr {
        border-color: $light-blue;
        border-bottom: 0;
        opacity: 0.37;
        padding: 0;
        margin: 0 0 3px;
        width: calc(100% - 7px);
    }
}

.description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: $black;
    letter-spacing: 0.1px;
    line-height: 17px;
    padding: 0;
    margin: 0;
}