@import "../../../styles/animations";

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include responsive(sm) {
        position: relative;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transform: translate(0, 0);
        animation: growth .75s;
    }
}
