@import '../../../../../../../styles/variables';
@import '../../../../../../../styles/animations';

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 266px;
}

.appear {
    animation: slidedown 0.75s;
}

.leave {
    animation: slideup 0.75s;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.apple_pay_button {
    cursor: pointer;
    width: 100%;
    padding: 38px;
    margin-bottom: 10px;
    transition: all 0.3s;
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-style: white-outline;
}
