@import '../../../../../../../styles/variables';
@import '../../../../../../../styles/animations';

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.appear {
    animation: slidedown .75s;
}

.leave {
    animation: slideup .75s;
}

.method {
    border-radius: 3px;
    border: 1px solid $gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 10px;
    transition: all .3s;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        border-color: $green-v2;
        background-color: $green-v2;
        cursor: pointer;

        .title {
            color: $white;
        }

        .description {
            color: $white;
        }

        .icon svg path {
            fill: $white;
        }
    }

    &:active {
        border-color: $green-v2-dark;
        background-color: $green-v2-dark;
    }
}

.method_center {
    @extend .method;
    justify-content: center;
}

.icon {
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 11px;
    color: $purple-v2-2;
    letter-spacing: 2px;
    line-height: 15px;
    padding: 0;
    margin: 0;
    display: inline-table;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-style: italic;
    color: $gray-v2;
    letter-spacing: 0.1px;
    line-height: 17px;
    padding: 4px 0 0;
    margin: 0;
}

.link_container {
    display: inline-block;
    margin: auto;
    margin-top: 25px;

    hr {
        border-color: $light-blue;
        border-bottom: 0;
        opacity: 0.37;
        padding: 0;
        margin: 0 0 3px;
    }
}

.apple_pay_button {
    cursor: pointer;
    width: 100%;
    padding: 38px;
    margin-bottom: 10px;
    transition: all .3s;
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-style: white-outline;
}
