@import '../../../styles/variables';
@import '../../../styles/responsive';
@import '../../../styles/animations';

.container {
    padding: 0 5px;

    @include responsive(sm) {
        width: 360px;
        padding: 0;
    }
}

.form {
    background: $white;
    border-radius: 6px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.25);
    padding: 30px 20px;
    position: relative;

    @include responsive(sm) {
        padding: 30px;
    }

    &._error {
        animation: shake .82s;
    }
}

.header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.back_btn {
    display: none;
    height: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @include responsive(sm) {
        display: flex;
    }

    svg {
        height: 15px;
        width: 9px;
    }
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $deep-gray;
    letter-spacing: 0;
    line-height: 20px;
    width: 100%;

    @include responsive(sm) {
        text-align: center;
    }
}