@import '../../../styles/variables';

.link {
    font-family: $font-family;
    font-weight: 900;
    font-size: 11px;
    color: $purple-v2-2;
    letter-spacing: 2px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:active {
        color: $purple-v2-2-dark;
    }
}
