@import "../../../styles/variables";
@import "../../../styles/responsive";
@import "../../../styles/animations";

.container {
    position: fixed;
    height: 100%;
    width: 100%;
    background: $white;

    @include responsive(sm) {
        height: 690px;
        width: 680px;
        position: relative;
    }
}

.enter {
    background: green;
}

.leave {
    @include responsive(sm) {
        animation: rotateout 1s;
    }
}

.appear {
    @include responsive(sm) {
        animation: rotatein 1s;
    }
}