@import '../../../../styles/responsive';

$local-white: rgba(255, 255, 255, 0.6);

.footer {
    padding: 30px 25px;
    position: relative;
    @include responsive(sm) {
        padding: 15px 0;
    }
}

.safe_payment_container {
    @include responsive(sm) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.safe_payment {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 0 15px;
    .label {
        font-size: 11px;
        font-weight: 900;
        color: #fff;
        letter-spacing: 2px;
        line-height: 15px;
        text-transform: uppercase;
        margin: 0;
    }
    .secure_icon {
        margin-right: 8px;
        position: relative;
        top: -2px;
        path {
            stroke: #fff;
        }
        rect {
            fill: #fff;
        }
    }
}

.safe_logos {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    flex-grow: 1;

    svg {
        margin-right: 25px;
    }
    .align_fix {
        position: relative;
        top: 4px;
    }
    .fill_icons {
        fill: #fff;
    }
}

.logo {
    padding-left: 6px;
    fill: #fff;
}
