@import '../../../../styles/responsive';
@import '../../../../styles/animations';
@import '../../../../styles/variables';

.appearFormContainer {
    @include responsive(sm) {
        animation: rotatein 0s;
    }
}

.enterFormContainer {
    background: green;
}

.leaveFormContainer {
    @include responsive(sm) {
        animation: rotateout 0s;
    }
}
