$black: #000;
$white: #fff;
$gray1: #dfdfdf;
$gray2: #f5f5f7;
$gray3: #444444;
$gray4: #828282;
$gray5: #e8e8e8;
$gray6: #d2d2d3;
$gray7: #bbbbbb;
$gray8: #c6c6c6;
$gray9: #fefefe;
$pink: #ff7076;
$blue1: #3fb1eb;
$blue2: #328ac3;
$blue3: #277bbe;