.payform {
    padding: 20px 35px;
    height: 100%;
    position: absolute;
    width: 100%;

    input {
        width: 100%;
        box-sizing: border-box;
        padding: 9px 9px 9px 30px;
        font-size: 15px;
        color: $black;
        border: 1px solid $gray1;
        border-radius: 4px;
        background: $white;
        transition: box-shadow 0.2s ease-out;

        &:focus {
            border-radius: 4px !important;
            border-color: $white;
            box-shadow: 0 0 7px 2px rgba(28, 96, 191, 0.7);
        }
    }

    &--fieldset {
        display: block;
        padding: 0;
        border: 0;
        margin: 15px auto;
        font-size: 0;
    }

    &--card-number,
    &--card-holder,
    &--email {
        position: relative;
        display: block;
        width: 100%;
        z-index: 1;
    }

    &--card-expire,
    &--card-cvc {
        position: relative;
        display: inline-block;
        width: 50%;
        z-index: 1;
    }

    &--card-number {
        input {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin-bottom: -1px;
        }
    }

    &--card-expire {
        input {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &--card-cvc {
        input {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }
    }

    &--field {
        &__error {
            z-index: 10;

            input {
                border: 1px solid $pink;
                box-shadow: 0 0 2px 0 rgba(255,0,0,0.5);
            }
        }

        &__focus {
            z-index: 20;
        }
    }

    &--icon {
        position: absolute;
        left: 2px;
        top: 4px;
        bottom: 0;
        pointer-events: none;
        display: block;
        height: 100%;
        width: 30px;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &--error-panel {
        margin: 15px auto;
        padding: 9px 10px;
        font-size: 13px;
        background: $gray2;
        border: 1px solid $gray1;
        color: $gray3;
        border-radius: 4px;
    }

    &--pay-button {
        width: 100%;
        position: relative;
        padding: 8px;
        margin: 15px auto;
        border-radius: 4px;
        background-color: $blue1;
        background-image: linear-gradient(to top,rgba(15,110,205,0.4),transparent);
        box-shadow: 0 1px 0 0 rgba(46,86,153,0.15),inset 0 1px 0 0 rgba(46,86,153,.1),inset 0 -1px 0 0 rgba(46,86,153,0.4);
        font: 700 16px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
        color: $white;
        cursor: pointer;

        &:active {
            background-image: linear-gradient(180deg, $blue2, $blue3)
        }

        &[disabled] {
            background: $gray4;
        }
    }
}
