@import '../../../../../../styles/variables';

.button {
    color: $purple-v2-2;
    background: $white;
    text-align: center;
    border-radius: 4px;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    transition: all 0.3s;
    cursor: pointer;
    width: 100%;
    outline: none;
    border: 2px solid $purple-v2-2;

    &:hover {
        border-color: $purple-v2-2-dark;
    }

    &:active {
        border-color: $purple-v2-2-dark;
        color: $purple-v2-2-dark;
        outline: none;
    }

    &._primary {
        border-radius: 32px;
        color: $white;
        border-color: $green-v2;
        background: $green-v2;

        &:hover {
            background: $green-v2-dark;
            border-color: $green-v2-dark;
        }

        &:active {
            background: $green-v2-dark-2;
            border-color: $green-v2-dark-2;
        }
    }
}
