@import '../../../styles/responsive';
@import '../../../styles/animations';

.appearContainer {
    animation: fadein 0.75s;
    @include responsive(sm) {
        animation-name: popup;
    }
}

.enterContainer {
    background: transparent;
}

.leaveContainer {
    animation: fadeout 0.75s;
    @include responsive(sm) {
        animation-name: popout;
    }
}

.leaveActiveContainer {
    opacity: 0;
}

.container {
    height: 100%;
    position: relative;
    @include responsive(sm) {
        perspective: 1000px;
    }

    .modalInteractionLoader {
        position: fixed;
        @include responsive(sm) {
            position: absolute;
        }
    }
}
