@import '../../../../../../styles/variables';
@import '../../../../../../styles/animations';

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.method {
    border-radius: 3px;
    border: 1px solid $gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 10px;
    transition: all .3s;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        border: 1px solid $light-blue;
        cursor: pointer;
    }
}

.icon {
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 11px;
    color: $light-blue;
    letter-spacing: 2px;
    line-height: 15px;
    padding: 0;
    margin: 0;
    display: inline-table;

    hr {
        border-color: $light-blue;
        opacity: .4;
        border-bottom: 0;
        padding: 0;
        margin: 0 0 3px;
    }
}

.description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-style: italic;
    color: $black;
    letter-spacing: 0.1px;
    line-height: 17px;
    padding: 0;
    margin: 0;
}

.appearItem {
    animation: slidedown .75s;
}

.enterItem {
    background: green;
}

.leaveItem {
    animation: slideup .75s;
}