@import '../../../../../../styles/responsive';
@import '../../../../../../styles/variables';
@import '../../../../../../styles/animations';

.form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;

    @include responsive(sm) {
        // The amount of indentations from the top and bottom should be the same for different window sizes,
        // so that when the window size is changed, it does not break
        padding: 50px 0 0;
    }

    &_withoutActions {
        padding: 50px 0;
    }

    & > div {
        width: 100%;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 500;
    font-size: 30px;
    color: $deep-gray;
    letter-spacing: 0;
    line-height: 35px;
    text-align: center;
    padding: 0;
    margin: 0 0 30px;

    &_error {
        color: $red-v2;
    }
}

.image {
    width: 75%;
}

.text {
    font-weight: 500;
    font-size: 16px;
    color: $deep-gray;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.help {
    margin-bottom: 60px;
}

.helpBlock {
    margin: 0 auto 25px auto;
}

.errorBlock {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    & > * {
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.othersButton {
    padding-top: 12px;
}
