@import '../../../../styles/responsive';
@import '../../../../styles/animations';

.container {
    height: 100%; // for cross-browser 100vh
    height: 100vh;
    width: 100%;
    background: #fff;

    @include responsive(sm) {
        height: 690px;
        width: 680px;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
    }

    iframe {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: scroll;
        border: none;

        @include responsive(sm) {
            border-radius: 6px;
            position: absolute;
        }
    }
}

.enter {
    background: green;
}

.leave {
    @include responsive(sm) {
        animation: rotateout 1s;
    }
}

.appear {
    @include responsive(sm) {
        animation: rotatein 1s;
    }
}
