@import '../../../../../styles/variables';
@import '../../../../../styles/responsive';
@import '../../../../../styles/animations';

.container {
    padding: 0 5px;

    @include responsive(sm) {
        width: 360px;
        padding: 0;
    }
}

.form {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.25);
    padding: 30px 20px;
    position: relative;
    overflow: hidden;
    transition: height 0.4s;

    @include responsive(sm) {
        padding: 30px;
        min-height: auto;
    }

    &._error {
        animation: shake 0.82s;
    }
}

.animationFormContainer {
    height: 100%;
    position: relative;

    form {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
    }
}

.header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;

    .back_btn {
        display: none;

        @include responsive(sm) {
            display: flex;
        }
    }
}

.back_btn {
    height: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    position: absolute;
    width: 20px;

    svg {
        height: 15px;
        width: 9px;
    }
}

.text {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 20px;
}

.systemLogo {
    max-height: 50px;
    max-width: 105px;
    margin-bottom: 25px;
}
