@import '../../../../../styles/variables';
@import '../../../../../styles/responsive';
@import '../../../../../styles/animations';

.container {
    padding: 0 5px;

    @include responsive(sm) {
        width: 360px;
        padding: 0;
    }
}

.form {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.25);
    padding: 30px 20px;
    position: relative;
    overflow: hidden;
    transition: height 0.4s;

    @include responsive(sm) {
        padding: 30px;
        min-height: auto;
    }

    &._error {
        animation: shake 0.82s;
    }
}

.animationFormContainer {
    height: 100%;
    position: relative;

    form {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
    }
}

.header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;

    .back_btn {
        display: none;

        @include responsive(sm) {
            display: flex;
        }
    }
}

.back_btn {
    height: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    position: absolute;
    width: 20px;

    svg {
        height: 15px;
        width: 9px;
    }
}

.title {
    font-weight: 500;
    font-size: 16px;
    color: $deep-gray;
    letter-spacing: 0;
    line-height: 20px;
    width: 100%;

    @include responsive(sm) {
        text-align: center;
    }
}

.text {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 20px;
}

.systemLogo {
    max-height: 50px;
    max-width: 105px;
    margin-bottom: 25px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.link_container {
    display: inline-block;
    margin: 15px auto auto;
    position: relative;

    hr {
        left: 0;
        border: none;
        border-bottom: 1px solid $blue-v2-light;
        padding: 0;
        margin: 0 0 3px;
        position: absolute;
        width: 100%;
    }

    &:hover hr,
    &:active hr {
        border-color: $purple-v2-2;
    }
}

.link {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 11px;
    color: $purple-v2-2;
    letter-spacing: 2px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.appearLoader {
    animation: fadein 0.5s;
}

.enterLoader {
    animation: fadein 0.5s;
}

.leaveLoader {
    animation: fadeout 0.25s;
}
