.appear3D-appear {
    @include responsive(sm) {
        opacity: 0;
        transform: scale(.95);
    }

    &.checkout-appear-active {
        @include responsive(sm) {
            opacity: 1;
            transform: scale(1);
            transition-timing-function: cubic-bezier(.15,1.45,.55,1);
            transition-duration: .4s;
            -ms-animation: none;
        }
    }
}

.appearLeft {
    &-enter {
        transform: translate3d(-20px, 0, 0);
        opacity: 0.01;
    }

    &-enter-active {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        transition: all 500ms ease-in;
    }

    &-leave {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    &-leave-active {
        transform: translate3d(-20px, 0, 0);
        opacity: 0.01;
        transition: all 300ms ease-in;
    }
}

.appearRight {
    &-enter {
        transform: translate3d(20px, 0, 0);
        opacity: 0.01;
    }

    &-enter-active {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        transition: all 500ms ease-in;
    }

    &-leave {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    &-leave-active {
        transform: translate3d(20px, 0, 0);
        opacity: 0.01;
        transition: all 300ms ease-in;
    }
}
