.print-receipt {
    &__container {
        padding: 0;
        margin-bottom: 10px;

        .panel-body {
            animation: print 1s;
            overflow: hidden;
            font-size: 14px;

            dl {
                padding-top: 10px;

                dt {
                    color: $gray4;
                    font-weight: 500;
                }
                dd {
                    font-weight: bold;
                    padding-top: 3px;
                }

                &:last-child {
                    dd {
                        font-weight: normal;
                    }
                }
            }
        }
    }

    &__panel {
        background-color: #f7f7f7;
        border-color: #f7f7f7;
        box-shadow: 0 5px 15px #ccc;
        padding: 15px;

        &.pseudo {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 10px;
                bottom: -10px;
                left: 0;
                background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 33.333%, #f7f7f7 33.333%, #f7f7f7 66.667%, rgba(0, 0, 0, 0) 66.667%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 33.333%, #f7f7f7 33.333%, #f7f7f7 66.667%, rgba(0, 0, 0, 0) 66.667%);
                background-size: 20px 40px;
                background-position: 50% -30px;
                background-repeat: repeat-x;
                z-index: 1;
            }
        }
    }
}

@-webkit-keyframes print {
  0% {
    height: 0;
  }
  100% {
    height: 176px;
  }
}