@import '../../../../../../../../styles/animations';

.inputContainer {
    width: 100%;
    position: relative;
}

.cardNumberInput {
    input {
        padding-right: 45px !important;
    }
}

.cardTypeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 31px;
    height: 19px;
    animation: growth 0.5s;
}
