.initButton {
    display: inline-block;
    position: relative;
    overflow: hidden;
    visibility: visible;
    padding: 8px 12px;
    outline: 0;
    font: bold 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    border: 1px solid #2384c1;
    border-radius: 5px;
    background-image: linear-gradient(#7dc5ee, #008cdd 85%, #30a2e4);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;

    &:not(:disabled):active, .initButton.active {
        color: #eee;
        border: 1px solid #1d73a4;
        background-image: linear-gradient(#008cdd, #008cdd 85%, #239adf);
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1)
    }
    &:disabled, .initButton.disabled {
        color: #999;
        background: #f8f9fa;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
    }
}
